@model UserClassViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Class Member Details</h1>

    <div class="card mt-4">
        <div class="card-header">
            <h4>Class Member Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    User
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>
                <dt class="col-sm-2">
                    Organization
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Organization.Name)
                </dd>
                <dt class="col-sm-2">
                    Season
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Season.Name)
                </dd>
                <dt class="col-sm-2">
                    Grade
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Grade.Name)
                </dd>
                <dt class="col-sm-2">
                    Classroom
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Classroom.Name)
                </dd>
                <dt class="col-sm-2">
                    UserType
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserType.Name)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        @* <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> *@
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>