@model PaginatedList<OrganizationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Organizations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Organizations", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchName", ViewBag.CurrentFilter as string, new { placeholder = "Search by name" })
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="/Schools?organizationId=@item.Id">Manage Schools</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*<div class="form-inline">
    <label for="pageSizeSelect">Page Size:</label>
    <select id="pageSizeSelect" class="form-control" onchange="changePageSize(this.value)">
        <option value="5" >5</option>
        <option value="10" selected>10</option>
        <option value="20" >20</option>
        <option value="50" >50</option>
        <option value="100" >100</option>
    </select>
</div>*@
<ul class="pagination">
    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
        <a class="page-link" href="@Url.Action("Index", new { page = 1 })">First</a>
    </li>
    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageIndex - 1 })">Previous</a>
    </li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>
    }
    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageIndex + 1 })">Next</a>
    </li>
    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
        <a class="page-link" href="@Url.Action("Index", new { page = Model.TotalPages })">Last</a>
    </li>
</ul>


<script>
    function changePageSize(pageSize) {
        window.location.href = `Organizations?page=${@Model.PageIndex}&pageSize=${pageSize}`;
    }
</script>