@model IEnumerable<ActivityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForTeachers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForStudents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForTeachers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.Name)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Attendance" asp-route-activityId="@item.Id">Show Attendance</a> |
                    <a asp-action="Index" asp-controller="ActivityClassrooms" asp-route-activityId="@item.Id">Manage Classrooms</a> |
                    <a asp-action="Index" asp-controller="ActivityTimes" asp-route-activityId="@item.Id">Manage Times</a> |
                    <a asp-action="Index" asp-controller="ActivityInstances" asp-route-activityId="@item.Id">Manage Instances</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
