@model RecordAttendanceViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.RecordName</h3>
@if (!Model.RecordDates.Any())
{
    <p>@(Model.RecordName) doesn't contain users</p>
}
else
{
    @* <table id="attendance-table" class="table"> *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClassUsers[0].ClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassUsers[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassUsers[0].UserType)
                </th>
                @foreach (var instance in Model.RecordDates)
                {
                    <th>
                        @($"{instance.InstanceDate.ToString("dd-MM-yyyy")}")
                    </th>
                }
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ClassUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType)
                    </td>
                    @foreach (var instance in Model.RecordDates)
                    {
                        <td style="color: @(item.RecordDates.Contains(instance.InstanceDate) ? "green" : "red")">
                            @(item.RecordDates.Contains(instance.InstanceDate) ? "Yes" : "No")
                        </td>
                    }
                    <td>@($"{item.RecordDates.Count}/{Model.RecordDates.Count}")</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Index" asp-controller="Records">Back to Records</a>
}

@section Styles {
    <link href="~/lib/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables-buttons/datatables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#attendance-table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ]
            });
        });
    </script>
}
