@model ActivityInstanceUserDataViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityInstanceUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityInstanceId" class="control-label">ActivityInstance</label>
                <select asp-for="ActivityInstanceId" class ="form-control" asp-items="ViewBag.ActivityInstanceId"></select>
            </div>
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>
                            @Html.CheckBoxFor(m => m.IsSelectAll, new { id = "selectAllCheckbox", onchange = "this.form.submit();" })

                        </th>

                        <th>UserName</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.activityInstanceUsersDataViewModels.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.activityInstanceUsersDataViewModels[i].IsSelected, new { @class = "rowCheckbox" })
                                @Html.HiddenFor(m => m.activityInstanceUsersDataViewModels[i].UserId)
                            </td>
                            <td>@Model.activityInstanceUsersDataViewModels[i].UserName</td>
                            <td><input type="text" asp-for="@Model.activityInstanceUsersDataViewModels[i].Note"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input asp-for="CreatedDate" class="form-control" id="createdDateInput" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}

