@model PaginatedList<SchoolViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Schools</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name </th>
            <th>Description</th>
            <th>Organization </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Grades" asp-route-schoolId="@item.Id">Manage Grades</a> |
                <a asp-action="Index" asp-controller="Seasons" asp-route-schoolId="@item.Id">Manage Seasons</a> |
                <a asp-action="Index" asp-controller="Members" asp-route-schoolId="@item.Id">Manage Members</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
